<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>STRING - 002: Primitivas String</title>
</head>

<body>
    <main>
        <article>
            <h1 class="titulo-pagina">STRING - 002: PRIMITIVAS STRING</h1>
        </article>
    </main>
    <script>
        /* Crear cadenas como primitivas con const o let */


        /* Mostrar cadenas primitivas */
    </script>
</body>

</html>